<form method="POST" v-on:submit.prevent="updateContact(fillContact.id)">
	
	<div class="modal fade" id="edit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4>Edit</h4>
				</div>
				<div class="modal-body">
					<label for="description">Update Contact</label>
					<input type="text" name="name" class="form-control" v-model="fillContact.name">
					<input type="text" name="surname" class="form-control" v-model="fillContact.surname">
					<input type="text" name="email" class="form-control" v-model="fillContact.email">
					<input type="text" name="phone_number" class="form-control" v-model="fillContact.phone_number">
					<input type="text" name="birthday" class="form-control" v-model="fillContact.birthday">
					<span v-for="error in errors" class="text-danger">@{{ error }}</span>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Update">
				</div>
			</div>
		</div>
	</div>
</form>