{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">

{% endblock %}

{% block body %}

	<div class="container">

		<div class="text-center ">
	        <h1 class="h3 mb-3 font-weight-normal">404 error</h1>
	        <p>{{message}}</p>
	    </div>

		<hr>

		<div class="text-center ">
			<img src="{{ asset('error-404.png') }}" alt="404 error">
		</div>

	</div>

{% endblock %}

{% block javascripts %}

	<script src="{{ asset('build/js/app.js') }}"></script>
	
{% endblock %}